<header class="masthead">
  <div class="masthead-inner">
    <h1>
      Let's Write Code
    </h1>
    <p class="lead">
      A learning resource hub for
      <a href="https://github.com/SHS-GWC" target="_blank">
        SHS-GWC
      </a>
      . Maintained by
      <a href="https://github.com/lizwilkins" target="_blank">
        @lizwilkins
      </a>
      and
      <a href="https://github.com/thomchop" target="_blank">
        @thomchop
      </a>
      .
    </p>

    <div class="colophon">

      <ul class="colophon-links">

        <li>
          <a href="https://github.com/SHS-GWC/lets_write_code/archive/gh-pages">
            Download
          </a>
        </li>

        <li>
          <a href="https://github.com/SHS-GWC/lets_write_code">
            GitHub project
          </a>
        </li>

        <li>
          Open Source => Open Minds
        </li>

      </ul>

      <p>
        Us + Code = Epic
      </p>

    </div>

  </div>
</header>
